@{
    ViewBag.Title = "Home Page";
}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-8">
            <form role="form" action="/Home/Enviar" method="post">
                <div class="form-group">
                    <label for="InputName1">Nome</label>
                    <input type="text" class="form-control" name="txNome" id="txNome" required placeholder="Reginaldo Nando" />
                </div>
                <div class="form-group">
                    <label for="InputSubject1">Email</label>
                    <input type="email" class="form-control" name="txEmail" id="txEmail" required placeholder="redinalds@gmail.com" />
                </div>

                <div class="form-group">
                    <label for="InputSubject1">Informe o seu nivel de conhecimnto das tecnologias informando um numero de 0 a 10 a seguir:</label>
                    <br />
                    <br />
                    <label>HTML</label>
                    <input type="number" class="form-control" name="txHTML" id="txHTML" />
                    <br />
                    <label>CSS</label>
                    <input type="number" class="form-control" name="txCSS" id="txCSS" />
                    <br />
                    <label>Javascript</label>
                    <input type="number" class="form-control" name="txJS" id="txJS" />
                    <br />
                    <label>Python</label>
                    <input type="number" class="form-control" name="txPython" id="txPython" />
                    <br />
                    <label>Django</label>
                    <input type="number" class="form-control" name="txDjango" id="txDjango" />
                    <br />
                    <label>Desenvolvimento iOS</label>
                    <input type="number" class="form-control" name="txiOS" id="txiOS" />
                    <br />
                    <label>Desenvolvimento Android</label>
                    <input type="number" class="form-control" name="txAndroid" id="txAndroid" />
                </div>

                <button type="submit" id="Enviar" class="btn btn-theme">Enviar</button>
            </form>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
                    <h4>Enviado!</h4>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
